@font-face {
  font-family: "Neou-Thin";
  src: url("./fonts/Neou-Thin.ttf");
}
@font-face {
  font-family: "Neou-Bold";
  src: url("./fonts/Neou-Bold.ttf");
}

.hero {
  background-image: url("./img/portpic.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

body {
  background: rgb(238, 240, 241);
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

svg {
  height: 80%;
  z-index: 999999999;
}
path {
  stroke: #000000;
  fill: #000000;
  stroke-dasharray: 500;
  opacity: 2;
  animation: animate 2s cubic-bezier(0, 0.23, 1, 0.1);
}

.noThanks {
  position: absolute;
  bottom: -1.5em;
  left: -3em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: ease-in-out 0.2s;

  &:hover {
    background: rgb(46, 46, 46);
    color: white;
  }
}

.logo {
  height: 70px;
  width: 70px;
  margin-left: 2em;
  background-color: #a1d6e3;
  border-radius: 50px;
  position: relative;
}

.m {
  color: white;
  position: absolute;
  top: 10%;
  right: 44%;
  font-size: 2em;
}
.s {
  color: white;
  position: absolute;
  top: 50%;
  right: 30%;
  font-size: 2em;
}

@keyframes animate {
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 500;
  }

  30% {
    opacity: 1;
    fill: none;
    stroke-dashoffset: 500;
  }

  90% {
    fill: rgba(0, 0, 0, 0);
  }

  100% {
    opacity: 1;
    fill: rgb(0, 0, 0);
    stroke-dashoffset: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.playButton {
  animation: pulse ease-in-out 5s infinite;
}

.container {
  grid-column: 11/13;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
  .loader {
    height: 50px;
    width: fit-content;
    display: flex;
    transform: rotate(180deg);
    @for $i from 1 through 20 {
      $time: ($i/20) + s;
      span:nth-child(#{$i}) {
        animation-delay: $time;
      }
    }
    span {
      display: block;
      height: 0;
      background: white;
      border: 0.3px solid black;
      margin: 0 4px;
      width: 5px;
      height: 100%;
      animation: line 1s ease infinite;
      @keyframes line {
        0%,
        100% {
          height: 100%;
        }
        50% {
          height: 50%;
        }
      }
    }
  }
}
.active {
  height: 10px;
  width: 10px;
  background: black;
  border-radius: 50%;
  margin-right: 0.5em;
}

.card-img {
  width: 50vw;
  height: 100vh;
  background-position: 90% 0%;
  width: 50vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.linx {
  transition: 0.4s ease;
  &:hover {
    letter-spacing: 0.1em;
  }
}
.img01 {
  background-image: url(./img/tech.jpg);
  background-size: cover;
  background-position-x: 0px;
}

.img02 {
  background-image: url(./img/bike.jpg);
}

.img03 {
  background-image: url(./img/door.jpg);
}

.home {
  position: absolute;
  z-index: 199999;
  margin-top: 0.5em;
  margin-left: 0.5em;
  padding: 0;
  transition: 0.5s ease;

  &:hover {
    transform: scale(1.2);
  }
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  background: #fff;
}

.card-content {
  padding: 10% 5%;
  box-sizing: border-box;
  width: 50%;
  background: white;
}

.card-theme {
  font-weight: 900;
  font-size: 1.7vmin;
  text-transform: uppercase;
  font-family: "Poppins";
  letter-spacing: 10px;
  color: grey;
}

.card-header {
  font-weight: 700;
  font-size: 54px;
  text-transform: capitalize;
  line-height: 1;
  margin: 3vmin 0 3.5vmin;
  color: black;
  font-family: "Poppins";
}

.card-para {
  font-size: 1.6vmin;
  line-height: 1.8;
  font-weight: 300;
  margin-bottom: 0em;
  color: black;
  font-family: "Poppins";
}

.card-link {
  color: black;
  font-family: "Poppins";
  display: block;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease;

  &:after {
    content: "→";
  }
}

.prevnext {
  position: absolute;
  width: 4vmin;
  height: 8vmin;
  right: 2%;
  bottom: 0;
  top: 80%;
  color: black;
  margin: auto 0;
}

.pn-btn {
  color: black;
  width: 100%;
  height: 50%;
  border: 0;
  background-color: transparent;
  font-size: 20px;
  z-index: 10;
}

#prev,
#next {
  position: relative;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover:after {
    opacity: 1;
  }

  &:after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

#prev:after {
  content: "↑";
}

#next:after {
  content: "↓";
}
