@font-face {
  font-family: "Neou-Thin";
  src: url("./fonts/Neou-Thin.ttf");
}
@font-face {
  font-family: "Neou-Bold";
  src: url("./fonts/Neou-Bold.ttf");
}
@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Raleway&display=swap");

.musicButtonContainer {
  position: absolute;
  right: 10em;
  display: flex;
}

.playButton,
.pauseButton {
  cursor: pointer;
  padding: 1em;
  animation: pulse ease-in-out 5s infinite;
}

.toolTip {
  position: absolute;
  top: -5em;
  left: -20em;
  font-size: 0.7em;
  height: auto;
  padding: 0.3em;
  width: 200px;
  border: 0.3px solid black;
  border-radius: 10px;
  padding-bottom: 0.2em;
}

.noThanks {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  position: absolute;
  bottom: -0.5em;
  right: -2em;

  &:hover {
    background: rgb(46, 46, 46);
    color: white;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  .loader {
    height: 50px;
    width: fit-content;
    display: flex;
    transform: rotate(180deg);
    @for $i from 1 through 20 {
      $time: ($i/20) + s;
      span:nth-child(#{$i}) {
        animation-delay: $time;
      }
    }
    span {
      display: block;
      height: 0;
      background: transparent;
      border: 0.3px solid black;
      margin: 0 4px;
      width: 5px;
      height: 100%;
      animation: line 1s ease infinite;
      @keyframes line {
        0%,
        100% {
          height: 100%;
        }
        50% {
          height: 50%;
        }
      }
    }
  }
}

.hero {
  // background-image: url("./img/flatwcolor\ tra.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 80vh;
}
body {
  background: white;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.name {
  height: 80%;
  z-index: 999999999;

  & path {
    stroke: #000000;
    fill: #000000;
    stroke-dasharray: 500;
    opacity: 2;
    animation: animate 2s cubic-bezier(0, 0.23, 1, 0.1);
  }
}

.checkmark {
  height: 5em;
  position: absolute;
  margin-top: 5%;
  margin-left: 40%;
}

// .noThanks {
//   position: absolute;
//   bottom: -1.9em;
//   left: -2em;
//   border: none;
//   border-radius: 10px;
//   cursor: pointer;
//   transition: ease-in-out 0.2s;

//   &:hover {
//     background: rgb(46, 46, 46);
//     color: white;
//   }
// }

.active {
  height: 10px;
  width: 10px;
  background: black;
  border-radius: 50%;
  margin-right: 0.5em;
}

.card-img {
  width: 50vw;
  height: 100vh;
  background-position: 90% 0%;
  width: 50vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.img01 {
  background-image: url(./img/tech.jpg);
  background-size: cover;
  background-position-x: 0px;
}

.img02 {
  background-image: url(./img/bike.jpg);
}

.img03 {
  background-color: #dbefe7;
}

.home {
  position: absolute;
  z-index: 199999;
  margin-top: 0.5em;
  margin-left: 0.5em;
  padding: 0;
  transition: 0.5s ease;
}

.homeNotAbsolute {
  z-index: 199999;
  margin-top: 0.5em;
  margin-left: 0.5em;
  padding: 0;
  transition: 0.5s ease;
}

.home:hover,
.homeNotAbsolute:hover {
  transform: scale(1.2);
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  background: #fff;
}

.card-content {
  padding: 10% 5%;
  box-sizing: border-box;
  width: 50%;
  background: white;
}

.noPadding {
  padding: 0;
}

.card-theme {
  font-weight: 900;
  font-size: 1.7vmin;
  text-transform: uppercase;
  font-family: "Poppins";
  letter-spacing: 10px;
  color: grey;
}

.card-header {
  font-weight: 700;
  font-size: 54px;
  text-transform: capitalize;
  line-height: 1;
  margin: 1em 0 1em;
  color: black;
  font-family: "Poppins";
}

.card-para {
  font-size: 1.6vmin;
  line-height: 1.8;
  font-weight: 300;
  margin-bottom: 0em;
  color: black;
  font-family: "Poppins";
}

.card-link {
  color: black;
  font-family: "Poppins";
  display: block;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease;

  &:after {
    content: "→";
  }
}

.prevnext {
  position: absolute;
  width: 4vmin;
  height: 8vmin;
  right: 2%;
  bottom: 0;
  top: 80%;
  color: black;
  margin: auto 0;
}

.pn-btn {
  color: black;
  width: 100%;
  height: 50%;
  border: 0;
  background-color: transparent;
  font-size: 20px;
  z-index: 10;
}

#prev,
#next {
  position: relative;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover:after {
    opacity: 1;
  }

  &:after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

#prev:after {
  content: "↑";
}

#next:after {
  content: "↓";
}

//form
$gray: #8e9aaf;
$paleblue: #c4f3ff;
$dark: #1a1919;
$nonTransparentPaleBlue: darken($paleblue, 20%);
$white: #f6f6f6;

$darkerblue: darken($paleblue, 20%);

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400|Lora");

$sans-serif: "Open Sans", sans-serif;
$serif: "Poppins", sans-serif;

.message {
  border-color: white;
  &:focus {
    outline: none;
  }
  &::placeholder {
    text-align: center;
  }
}

/* div box styling */
.form-container {
  margin: auto;
  width: 100vw;
  height: 100vh;
  left: -100%;
  position: relative;
}

.centered {
  margin: auto;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.welcome {
  background: #c4f3ff7d;
  width: 650px;
  height: 415px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
}

.bluebox {
  position: absolute;
  top: -10%;
  right: 5%;
  background: rgba($white, 0.6);
  width: 320px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease-in-out;
  z-index: 2;
}

// .nodisplay {
//   display: none;
//   transition: all 0.2s ease;
// }

.leftbox,
.rightbox {
  position: absolute;
  width: 50%;
  transition: 0.2s all ease;
}

.leftbox {
  left: -2%;
  font-size: 1.4em;
}
.rightbox {
  opacity: 0;
  right: -2%;
  top: 30%;
}

/* font & button styling */
h1 {
  text-align: center;
  margin-top: 95px;
  text-transform: uppercase;
  color: $dark;
  font-size: 2em;
  letter-spacing: 8px;
  font-weight: lighter;
}

.title {
  color: $gray;
  font-size: 1.8em;
  line-height: 1.1em;
  letter-spacing: 3px;
  text-align: center;
  font-weight: 300;
  margin-top: 20%;
}
.desc {
  margin-top: -8px;
}

p {
  font-family: $sans-serif;
  font-size: 0.7em;
  letter-spacing: 2px;
  color: $gray;
  text-align: center;
}

span {
  color: $dark;
  font-weight: 400;
}

.button {
  padding: 12px;
  font-family: $sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 11px;
  border-radius: 10px;
  margin: auto;
  outline: none;
  display: block;
  &:hover {
    background: $darkerblue;
    color: $white;
    transition: background-color 1s ease-out;
    cursor: pointer;
  }
}

.button {
  margin-top: 3%;
  background: $white;
  color: $darkerblue;
  border: solid 1px $darkerblue;
}
